@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Poppins:wght@300;400;500;600&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}	
body
{
	min-height: 100vh;
	background: linear-gradient(#ff0022,#5c000c);
}
header .gift
{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
section
{
	position: relative;
	width: 100%;
	height 100vh;
	padding: 100px;
}
.sec
{
	position: relative;
	padding 100px;
	background: #3b020a;
}	
.sec h2
{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
}
.sec p
{
	font-size: 1.2em;
	color: #fff;
	
}